@model WebUXv2.Models.PAPolicy

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PA Policy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Premium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Annuitant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annuitant.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dependant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dependant.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beneficiary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beneficiary.FullName)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
       @*@Html.AntiForgeryToken()*@

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
