@model WebUXv2.Models.SecondLineDefenceQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Second Line Defence Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAsked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAsked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BenefitOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenefitOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PensionsGuidance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PensionsGuidance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegulatedAdvice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegulatedAdvice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskWarning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskWarning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScriptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScriptName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
