@using WebUXv2.Components
@using WebUXv2.UserExperiences.Customer
@model WebUXv2.Models.Customer

@{
    var uxTaskId = ViewBag.uxTaskId;
    bool showBackButton = ViewBag.ShowBackButton;
    string backButtonText = ViewBag.BackButtonText;

    var tm = new TaskManager();
    var ultimateParentId = tm.GetUltimateParentLogicalUnitTask(uxTaskId).Id;

}

@Html.ActionLink("Amend a different customer", "ResetCustomerContextInput", new { uxTaskId = uxTaskId })

@*<script>
    var isChanged= false;
    $("input").change(function() {
        isChanged = true;
        alert("change made");
    });

    $(window)
        .unload(
            function () {
                alert(isChanged);
                if (isChanged == false) {
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("AmendCustomer", "Customer",new {uxTaskId = uxTaskId}))",
                    data: $("form").serialize()
                });
            }
        );
</script>*@

<div class="row">
    <div class="col-md-7 margin-top-20">

        @using (Html.BeginForm()) //"AmendCustomer", "Customer", new { uxTaskId = uxTaskId })))
        {
           @*@Html.AntiForgeryToken()*@

            <div class="form-horizontal">

                <h3>Amended Details</h3>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NINO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.NINO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NINO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8">
                        @if (showBackButton)
                        {
                            @Html.ActionLink(backButtonText, "Back", "TaskManager", new { uxTaskId = uxTaskId }, new { @class = "btn btn-danger" })
                            <span>&nbsp; &nbsp;</span>
                        }
                        <input type="submit" value="Submit" class="btn btn-success" />
                        &nbsp;&nbsp;
                    </div>
                </div>
                <br />
                <br />
                <p>
                    @Html.ActionLink("Reset fields", "AmendCustomer", new { uxTaskId = uxTaskId }, new { @class = "btn btn-warning" })
                </p>

            </div>
        }

    </div>

    <div class="col-md-5 margin-top-20">

        <h3>Current Details</h3>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NINO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NINO)
            </dd>

        </dl>
        
        <br />
        <h3>Options</h3>
        @Html.CheckBox("ManageCustomerAfterAmendedCustomer", true)&nbsp;Always goto @Html.ActionLink("Manage Customer", "RunTask", "TaskManager", new { componentName = typeof(UxManageCustomer).Name, customerId = Model.Id, parentTaskId = ultimateParentId }, null) after amending a customer
        <br />
        <br />
        @{Html.RenderAction("SecondaryTasks", "TaskManager", new { uxTaskId = uxTaskId });}


    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
